<%- include('header',{
  title:'Login'
}); -%>

<div class="container">
  <h1>Change Password</h1>

  <form action="" method="POST">
      <label for="user_email">Email</label>
      <input type="email" class="input" name="_email" autocomplete="off" id="user_email" placeholder="Enter your email">

      <label for="user_pass">Password</label>
      <input type="password" class="input" name="_password" id="user_pass" placeholder="Enter old password">

      <label for="user_pass">New password</label>
      <input type="password" class="input" name="_new_password" id="user_new_pass" placeholder="Enter new password">

      <label for="user_pass">confirm password</label>
      <input type="password" class="input" name="_confirm_password" id="user_confirm_pass" placeholder="Enter confirm password">

      <% if(typeof msg != 'undefined'){ %>
      <div class="success-msg"><%= msg %></div><% }
      if(typeof error !== 'undefined'){ %>
      <div class="err-msg"><%= error %></div><% } %>
      <input type="submit" value="change">
      <div class="link"><a href="./login">Login</a></div>
  </form>
</div>

<%- include('footer'); -%>